@font-face {
  font-family: 'Reader Bold';
  src: url('../fonts/READER-BOLD_1.OTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Medium';
  src: url('../fonts/Reader-Medium.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Black';
  src: url('../fonts/Reader-Black.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Regular';
  src: url('../fonts/Reader-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
/*
  red : #e01932;
  black : #231f20;
*/
/*Global start*/
body {
  background-color: transparent;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  width: 100vw;
  height: 100vh;
  font-family: 'Reader Regular';
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
  color:#231f20;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
    display: block;
    width: 100%;
    height: auto;
}
h2{
  color: #231f20;
  margin-top : 0;
  margin-bottom : 0;
}
ul{
  margin-bottom: 0;
}
label {
  color: #231f20;
  font-weight: 300;
  font-family: 'Reader Regular';
  font-size: 2rem;
}
input[type=checkbox]{
  margin: auto;
    margin-top: 9px;
}
input::placeholder {
  color: #231f20 !important;
}
a{ color:#231f20;}
a:hover {
  color:#e01932;
  cursor: pointer;
}
strong{
  font-family: 'Reader Bold';
  font-weight: bold;
}
option{
  font-size : 2rem;
}
.w-75{ width: 75%; }
.position-relative{ position: relative; }
.checkbox{
  margin: 0;
  margin-bottom: -22px;
}
.has-error .checkbox{
  margin-bottom: -6px;
}
.float-right{
  float: right;
}
.text-left{
  text-align: left !important;
}
.d-flex{
  display: flex;
}
.mt-25{
  margin-top: 25px;
}
.mt-50{
  margin-top: 40px;
}
.mb-50{
  margin-bottom: 40px;
}
.m-auto{
  margin:auto !important;
}
.black-text {
  color: #231f20;
}
.blue-text {
  color: #e01932;
  font-family: 'Reader Medium';
  text-align: center;
  font-weight : bold;
  font-size : 2.5rem;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
  color: #e01932;
  background-color: #fff;
  border-color: #231f20;
}
.white-text{
  color: #fff;
  font-family: 'Reader Medium';
  text-align: center;
  font-weight : bold;
  font-size : 2.5rem;
}
.p-0{
  padding : 0;
}
.pb-25{
  padding-bottom:25px;
}
.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100vw;
}
.image-align-center{
  justify-content: center;
  align-items: center;
  display: flex;
}
sup.small-text {
  font-size: 0.4em;
  top: -1.15em;
}
.d-none{ display: none !important; }
.d-flex{ display: flex !important; }
@media (min-width: 1500px){
  .container{ width: 1300px;  } 
}
@media (max-width: 991px){
  .pt-md-40{
    padding-top: 40px;
  }
}
@media (max-width: 991px) and (min-width: 769px){
  input[type=checkbox]{
      margin-top: 2px;
  }
}
@media screen and (max-width: 576px){
  .d-sm-none{ display: none !important; }
  .d-sm-flex{ display: flex !important; }
  body,label {
    font-size: 1.4rem;
  }
  .blue-text,.white-text {
       font-size: 1.8rem;
  }
  input[type=checkbox]{
      margin-top: 0px;
  }
}
@media screen and (max-width: 330px){
  body {
    font-size: 1rem;
  }
}
/*Global end*/
/* top section start*/
#top-section {
  background: url('/images/utm/background_desktop_01.jpg') no-repeat top;
  background-size: 100% 100%;
  position: relative;
}
#bottom-section{
  background: url('/images/utm/background_desktop_02.jpg') no-repeat top;
  background-size: 100% 100%;
  position: relative;
}
#top-section .row {
  margin: auto;
  position: relative;
}
.mobile-img{
  padding-top: 40px;
}
@media (max-width: 991px){
  #top-section {
    background: url('/images/utm/background_mobile_01.jpg') no-repeat top;
    background-size: 100% 100%;
  }
  #bottom-section{
    background: url('/images/utm/background_mobile_02.jpg') no-repeat top;
    background-size: 100% 100%;
  }
}
/* top section end */
/* header nav bar start */
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-header,
.navbar-nav {
  float: unset;
  text-align: center;
    margin: 0 auto !important;
    font-size: 2rem;
}
.navbar-nav>li {
    float: none;
    display: inline-flex;
  padding: 0 20px;
}
.navbar-brand {
  float: unset;
  margin: auto;
}
.navbar-inverse {
  background-color: inherit;
  border: none;
}
.navbar-header {
  padding-bottom: 40px;
}
.navbar-header .navbar-brand .nav-logo {
  max-width: 250px;
}
.navbar-inverse .navbar-nav>.active>a>span,
.navbar-inverse .navbar-nav>li>a:hover>span {
  border-bottom: 1px solid #e01932;
  color: #e01932;
}
.navbar-inverse .navbar-nav>li>a>span {
  font-weight: 300;
  font-size: 2.5rem;
  color: #231f20;
}
.navbar-nav>li:first-child>a {
  padding-left: 0;
}
.navbar-nav>li:last-child>a{
  padding-right: 0;
}
@media screen and (max-width: 576px){
  .navbar {
    margin-bottom : 0;
  }
  .navbar-header .navbar-brand .nav-logo {
    max-width: 200px;
  }
  .navbar-inverse .navbar-nav>li>a>span {
    font-size: 1.5rem;
  }
  .navbar-nav>li {
    padding: 0px;
  }
  .nav>li>a {
    padding: 10px 10px;
  }
}
/* header nav bar end */
/* floating button start*/
.floating-logo-btn {
  display: block;
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 9999;
}
.floating-logo-btn img {
  width: 100px;
}
@media screen and (max-width: 576px){
  .floating-logo-btn img {
    width: 70px;
  }
}
/* floating button end */
/* video section start*/
#video-section .row {
  margin: auto;
  position: relative;
  z-index: 10;
}
#video-section .section-title {
  text-align: center;
}
#video-section .normal-text {
  line-height: 2;
  text-align: center;
  width: calc(100%/1.6);
  margin: 40px auto;
}
#video-section h4 {
  margin-bottom: 40px;
  line-height: 1.8;
}
#video-section .video-container, #video-carousel {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px; height: 0; 
  margin: auto;
}
#video-section .video-container iframe,
#video-section .video-container object,
#video-section .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px){
  #video-section .normal-text {
    width: 100%;
  }
}
@media screen and (max-width: 320px){
  #video-section h4 br{
    display: none;
  }
}
/* video section end*/
/*technology && proven*/
.technology-section{
  padding : 75px 0 0;
  font-size: 1.5rem;
}
.technology-section h2{
  padding-bottom: 25px;
  padding-top: 5px;
  border-top: 2px #e01932 solid;
}
.technology-section{
  font-size: 1.5rem;
  font-family: 'Reader Regular';
}
.technology-detail{
  padding-bottom: 25px;
}
.technology-detail-floating{
  position: absolute;
  width: 85%;
  height: 100%;
  left: 5%;
  top: 0;
}
.technology-section .floating-image{
  position: absolute;
  bottom: 10%;
  right: 10px;
}
.technology-detail-floating h2{
  border-top: unset;
}
.technology-section h4{
  font-size: 2rem;
}
.technology-detail-floating h4 {
    position: absolute;
    bottom: 5%;
    left: 0;
    text-shadow: 2px 2px 4px #231f20;
}
.technology-detail-floating h2 {
    position: absolute;
    left: 0;
    top: 1.5rem;
    text-shadow: 2px 2px 4px #231f20;
    line-height: 1.5;
}
.technology-section .big-text{
  font-size: 6rem;
  line-height: 1;
  display: inline-block;
}
.technology-section .proven-results h4{
  display: inline-block;
  width: fit-content;
}
@media screen and (max-width: 576px){
  .technology-section h2{
    font-size: 2rem;
  }
  .technology-detail-floating h2{
    top: 0.5rem;
  }
  .technology-section .big-text{
    font-size: 4.1rem;
  }
}
@media screen and (max-width: 403px){
  .technology-section .proven-results h4 br{
    display: none;
  }
  .technology-section .proven-results h4{
    width: 227px;
  }
  /*.technology-section .big-text {
    font-size: 3.7rem;
  }*/
}
@media screen and (min-width: 992px){
  .technology-section .set-min-height{
    min-height: 300px;
  }
  .technology-image{
    margin-bottom: 0;
  }
  .technology-section .mb-50{
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1500px){
  .technology-section .set-min-height{
    min-height: 400px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1499px){
  .technology-section .set-min-height{
    min-height: 350px;
  }
  .technology-detail-floating h2,
  .technology-section h2,
  .blue-text{
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1200px){
  .technology-section .custom-height{
    height: 450px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .technology-section .custom-height{
    height: 500px;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px){
  .technology-section .custom-height{
    height: 420px;
  }
}
@media screen and (max-width: 576px){
  .technology-section .custom-height{
    height: 420px;
  }
  .technology-section .floating-image{
    width: 180px;
    transform: rotate(-15deg);
  }
  .technology-section .w-75{
    width: 80%;
  }
  .technology-section{
    font-size: 1.2rem;
  }
  .technology-section h4{
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 320px){
  .technology-section h2{
    font-size: 1.8rem;
  }
  .technology-section .technology-detail-floating h4{
    font-size: 1.3rem;
  }
  .technology-section .proven-results h4{
    width: 181px;
  }
  .technology-section .floating-image{
    width: 160px;
  }
}
/*end technology && proven*/
/* slider section */
#product-sec{
  padding-top: 50px;
}
#product-sec h2{
  padding-bottom: 25px;
}
.slider-section .row {
  position: relative;
  z-index: 10;
}
.slider-section .carousel-content {
  margin:auto;
  text-align: center;
  width: 500px;
  margin-top: 50px;
}
.slider-section .carousel-content .carousel-title {
  font-weight : bold;
  font-size : 2rem;
  padding-bottom: 25px;
}
.slider-section .carousel-product {
  text-align: center;
}
#product-carousel .owl-carousel .owl-stage{
  margin : 0 auto;
}
#product-carousel .owl-nav{
  position: absolute;
    width: 100%;
    bottom: 13%;
    left:0;
    padding:0 20%;
}
#product-carousel .owl-next,
#product-carousel .owl-prev{
  outline: unset;
}
#product-carousel .owl-next:hover,
#product-carousel .owl-prev:hover{
  opacity: 0.5;
}
#product-carousel .owl-next{
  float:right;
  font-size: 4.8rem;
  color:#e01932;
}
#product-carousel .owl-prev{
  font-size: 4.8rem;
  color:#e01932;
}
.carousel-text{
  font-size : 1.5rem;
}
.owl-carousel .owl-item img {
    display: block;
    max-width: 250px;
    width: auto;
    margin: 0 auto;
}
@media screen and (max-width: 991px){
  #product-carousel .owl-nav{
    padding: 0;
  }
  #product-carousel .owl-nav{
    bottom: 15%;
  }
}
@media screen and (max-width: 576px){
  #product-carousel .owl-prev,
  #product-carousel .owl-next{
    font-size: 4rem;
  }
  #product-sec h2{
    font-size: 2rem;
  }
  .slider-section .carousel-content .carousel-title {
    font-size : 1.5rem;
  }
  .slider-section .carousel-content{
    width: 320px;
  }
  .slider-section .carousel-product .carousel-product-img {
    max-width: 150px;
    margin :0 auto;
  }
  .carousel-text{
    font-size : 1.2rem;
    padding : 0 10px;
    font-family : 'Reader Medium';
  }
}
@media screen and (max-width: 400px){
  .slider-section .carousel-content .carousel-title {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px){
  .slider-section .carousel-content{
    width: 250px;
  }
}
/*end slider section*/
/*form section*/
#registration_form {
  position: relative;
  z-index: 10;
}
.panel {
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 0px;
  border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading.panel-custom-css {
  border: none;
    border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding : 0;
}
.panel-body {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.panel-color-background {
  background-color: transparent;
}
.label-required a{
  font-family: 'Reader Bold';
  cursor: pointer;
  color: #e01932;
}
.label-required:after {
  content: "*";
  display: inline;
  font-size: 2rem;
}
.form-control {
  background-color: transparent;
  border-color: #e01932;
  border-radius: 0px;
}
.custom-submit-btn {
  color: #fff;
  background-color: #e01932;
  border-color: #e01932;
  border-radius: 0;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}
.custom-submit-btn.btn-block {
  width: 50%;
    margin: auto;
    font-size: 2.5rem;
    font-family: "Reader Medium";
}
.btn-default.disabled, .btn-default[disabled]{
  color: #e01932;
}
.disclaimer-text {
  font-size: 1.5rem;
  margin-bottom : 5px;
}
.tnc-text.has-error{
  margin-bottom: 0;
}
.tnc-text label {
  font-size: 1.5rem;
}
.help-block.label.label-danger {
  color: #fff;
  line-height: 1.5;
  padding: 5px 10px;
  margin: 5px 0 0;
}
.form-section .panel-heading h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.5;
  margin: -7px 0 -8.5px; /*To balance line-height spacing*/
}
.form-section .panel-default>.panel-heading {
  background-color: transparent;
}
.form-group {
    margin-bottom: 15px;
}
.panel-body{
  padding: 15px 0 75px;
}
.submit-section{
  padding: 75px 0 0;
}
.checkbox_form{
  position: relative;
}
.checkbox_form select{
  -webkit-appearance: none;
    appearance: none;
}
.checkbox_form:after{
  content: "\25bc";
    display: block;
    font-size: 1.2rem;
    line-height: 2;
    color: #e01932;
    position: absolute;
    top: 4.3rem;
    right: 10px;
}
@media screen and (min-width: 577px){
  .form-section .panel-heading h2 br:nth-child(2){
    display: none;
  }
}
@media screen and (max-width: 1920px){
  #registration_form {
    max-width: 75%;
      margin: 0 auto;
  }
}
@media screen and (max-width: 768px){
  #registration_form {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px){
  .form-section .panel-heading h2{
    margin: -5px; /*To balance line-height spacing*/
  }
  .form-section .panel-heading h2,
  .form-section .panel-heading span{
    font-size: 1.7rem;
  } 
  .checkbox_form:after{ top: 3.5rem; }
  .custom-submit-btn.btn-block,
  .help-block.label.label-danger,
  .label-required:after { font-size: 1.5rem; }
  .disclaimer-text,
  .tnc-text label, 
  .tnc-text .label-required:after {
    font-size: 1rem;
  }
}
@media screen and (max-width: 330px){
  .custom-submit-btn.btn-block,
  .help-block.label.label-danger,
  .label-required:after { font-size: 1.3rem; }
}
/* end form section */
/* footer */
.page-footer {
  background: #e01932;
  padding: 25px 0; 
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px){
  .page-footer {
    padding: 5px 0 10px;
  }
}
@media screen and (max-width: 576px){
  .page-footer {
    font-size: 0.7em;
  }
}
.page-footer a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}
.page-footer a:hover {
  color: #171717;
}
.page-footer .footer-logo-img {
  width: 100%;
    max-width: 18px;
}
.footer-copyright {
  float: right;
  text-align: right;
}
.footer-links-subsection {
  float: left;
  text-align: left;
}
.footer-links-subsection ul {
  list-style-type: none;
  padding: 0;
}
.footer-link {
  margin: 0px 15px;
}
@media (max-width: 890px) {
  .footer-copyright, .footer-links-subsection {
    display: block;
      text-align: center;
      width: 100%;
      padding-top: 5px;
  }
  .footer-links-subsection ul {
    display: block;
    padding: 0px;
  }
  .footer-link {
    margin: 10px 15px;
  }
}
/* end footer */
/* road-show */
.road-show{
  padding-bottom: 25px;
}
.road-show .schedule-road-show{
  width: calc(100%/1.2);
  line-height: 0.9;
  font-size: 1.5rem;
  margin: auto;
  min-height: 300px;
  background: url(/images/utm/timetable_desktop_bg.jpg) no-repeat center;
  background-size: cover;
  padding: 25px;
  margin-bottom: 75px;
}
.road-show .reward-road-show{
  width: calc(100%/1.2);
  margin: auto;
}
.road-show .schedule-road-show-detail{
  padding: 15px;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}
.road-show .schedule-road-show-detail .road-show-date,
.road-show .schedule-road-show-detail .road-show-location{
  float: left;
  margin: 10px;
}
.road-show .schedule-road-show-detail .road-show-location{
  font-family: 'Reader Bold';
  font-weight: bold;
}
.road-show .schedule-road-show-detail .col-md-6:after{
  content: "";
  width: 95%;
  border-bottom: dashed #e01932 1px;
  height: 10px;
  display: block;
  float: left;
  margin-left: 15px;
  margin-bottom: 10px;
}
.road-show .schedule-road-show-detail .col-md-6:nth-child(6):after{
  content: "";
  border-bottom: unset;
  display: none;
}
.road-show .schedule-road-show-detail .road-show-wrap{
  display: table;
  margin: auto;
  min-width: 270px;
}
.road-show .reward-road-show-detail{
  font-size: 1.5rem;
}
.road-show .reward-road-show-detail h4{
  font-size: 2rem;
}
.road-show .reward-road-show-detail p{
  margin-bottom: 0px;
}
.road-show .reward-road-show-detail ol{
  padding-left: 20px;
}
.road-show .reward-road-show-detail .col-xs-6{
  min-height: 250px;
}
.road-show .reward-road-show-detail img{
  max-width: 450px;
}
@media screen and (min-width: 992px){
  .road-show .schedule-road-show,
  .road-show .reward-road-show{
    width: calc(100%/1.5);
  }
  .road-show .reward-road-show-detail br{
    display: none;
  }
  .road-show .reward-road-show-detail img{
    max-width: 550px;
  }
  .road-show .schedule-road-show-detail .col-md-6:nth-child(even):after{
    margin-left: -15px;
  }
  .road-show .schedule-road-show-detail .col-md-6:after{
    width: 100%;
  }
  .road-show .schedule-road-show-detail .col-md-6:nth-child(5):after{
    content: "";
    border-bottom: unset;
    display: none;
  }
  .road-show .schedule-road-show-detail .col-md-6:nth-child(odd){
    border-right: dashed #e01932 1px;
  }
}
@media (min-width: 768px){
  .road-show{
    padding-bottom: 75px;
  }
}
@media (max-width: 576px){
  .road-show .reward-road-show-detail ol{
    padding-left: 14px;
  }
  .road-show .reward-road-show-detail .col-xs-6{
    width: 100%;
    padding-bottom: 25px;
    min-height: unset;
    display: flex;
  }
  .road-show .reward-road-show-detail .custom-max-width{
    max-width: 240px;
  }
  .road-show .reward-road-show-detail img{
    width: 240px;
    margin: auto;
  }
  .road-show .reward-road-show-detail{
    font-size: 1.2rem;
  }
  .road-show .reward-road-show-detail h4{
    font-size: 1.5rem;
  }
  /*.road-show .schedule-road-show-detail .road-show-wrap{
    min-width: 200px;
  }*/
  .road-show .road-show-wrap .road-show-date{
    min-width: 50px;
  }
  .road-show .schedule-road-show-detail .col-md-6:after{
    margin-left: 5px;
  }
  .road-show .schedule-road-show-detail{
    padding: 10px;
  }
  .road-show .schedule-road-show-detail .road-show-date, 
  .road-show .schedule-road-show-detail .road-show-location{
    margin: 10px;
  }
  .road-show .schedule-road-show{
    background: url('/images/utm/timeline_mobile_bg.jpg') no-repeat center;
    background-size: cover;
    font-size: 1.4rem;
    width: 100%;
    padding: 15px;
  }
  .road-show .reward-road-show{
    width: 100%;
  }
}
@media (max-width: 320px){
  .road-show .schedule-road-show,.road-show .reward-road-show-detail{
    font-size: 1.2rem;
  }
}
/* end road-show */
/* Thank You Page */
.bottom-link {
    display: flex;
    justify-content: center;
}
.thank-you-bottom-logo{
  width: 40px;
}
.full-height {
  background-color: #EEE0DD;
  position: relative;
  height: 100%;
  min-height: 100vh;
}
.thank-you-logo {
  width: 160px;
  margin-top: 100px;
}
.dear-name {
  color: #e01932;
  font-weight: bold;
  font-family: 'Reader Medium';
}
.btn-share {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border: solid 1px #e01932;
  border-radius: 50%;
  padding: 10px;
  background-color: #e01932;
  color: #fff;
}
.btn-share:focus{
  color: #fff;
}
.btn-share:hover {
  background-color: #fff;
  color: #e01932;
}
.mobile-banner{
  width : 100%;
}
.agree-text{
  display: inline-block;
}
.modal-body{
  word-break: break-word;
}
.modal-body, .modal-body p {
    font-size: 1.5rem !important;
}
dd {
  margin: 10px 0 10px 25px;
}
/*end*/
@media screen and (max-width: 576px){
  #video-section .normal-text{
    margin: 35px auto;
  }
  #video-section h4{
    margin-top: 0;
    margin-bottom: 35px;
  }
  .road-show .schedule-road-show{
    margin-bottom: 40px;
  }
  .technology-section{
    padding: 40px 0 0;
  }
  .submit-section {
    padding: 40px 0 0;
  }
  .panel-body{
    padding: 0 0 40px;
  }
  .reward-road-show h2.mb-50{
    margin-bottom: 25px;
  }
}
/*New section*/
.floating-title{
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  display: flex; 
}
.image-title{
  width: 33%;
  margin: auto;
}
.four-steps-section p{
  margin-bottom: 0;
}
.step-section .floating-content{
  position: absolute;
  width: 40%;
  right: 15%;
  top: 30%;
  color: #fff;
  font-size: 1.5rem;
  z-index: 999;
}
.step-section .floating-content h1{
  font-size: 3rem;
  font-family: 'Reader bold';
  letter-spacing: 1px;
  padding: 10px 0 20px;
  margin: 0;
}
.step-section .floating-content h3{
  font-size: 1.8rem;
  line-height: 1.2; 
  margin: 0;
}
.step-section .four-steps-section{
  width: calc(100%/1.3);
  margin: auto;
  font-size: 1.5rem;
}
.step-section .four-steps-section .blue-text{
  padding-top: 25px;
  padding-bottom: 50px;
}
.step-section .four-steps-section h1{
  color: #e01932;
  font-size: 3em;
  font-family: 'Reader Bold';
  letter-spacing: 0px;
  text-decoration: underline;
}
.custom-min-height{
  min-height: 150px;
}
.full-content{
  width: 100%;
  height: 100%;
}
.float-bottom{
  position: absolute;
  bottom: 16%;
  left: 0;
}
@media screen and (max-width: 991px){
  .step-section .four-steps-section .blue-text{
    padding-top: 0;
    padding-bottom: 25px;
  }
  .step-section .four-steps-section{
    width: calc(100%/1.1);
  }
  .step-section .floating-hand{
    bottom: 15%;
    right: 0;
    width: 45%;
  }
  .step-section .floating-content img{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
  }
  .step-section .floating-content{
    width: 80%;
    height: 100%;
    top: 15px;
    left: 10%;
  }
  .step-section .floating-content .float-bottom p{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px){
  .float-bottom{
    bottom: 12%;
  }
  .step-section .four-steps-section{
    width: 100%;
  }
  .custom-min-height{
    min-height: 200px;
  }
  .step-section .floating-content h3 {
    font-size: 1.5rem;
  }
  .step-section .floating-content h1 {
    font-size: 2.5rem;
  }
  .step-section .four-steps-section h1{
    font-size: 2.5em;
  }
  .float-bottom{
    font-size: 0.75em;
  }
}
@media screen and (max-width: 320px){
  .step-section .floating-content h3{
    font-size: 1.2rem;
  }
  .step-section .floating-content h1 {
    font-size: 2rem;
  }
  .float-bottom {
    font-size: 0.7em;
  }
}
.custom-padding{
  padding-top: 10vh;
}
.image-thankyou{
  width: 80%;
}
@media screen and (max-width: 576px){
  #thank_you br{
    display: none;
  }
  .image-thankyou{
    width: 100%;
  }
  .custom-padding{
    padding-top: 25vh;
  }
}
#redeem .custom-spacing{
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100%;
}
#redeem .custom-height{
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
}
#redeem{
  min-height: 100vh;
  background-color: #A00020;
}
#redeem p{
  color: #fff;
  width: 93%;
}
@media screen and (max-width: 991px){
  #redeem p {
    width: 100%;
  }
  #redeem .custom-spacing{
    bottom: 23%;
  }
  #redeem .custom-height{
    bottom: 20%;
  }
}