@font-face {
  font-family: 'Reader Bold';
  src: url('../fonts/Reader-Bold.otf');
  src: url('../fonts/Reader-Bold.otf?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Medium';
  src: url('../fonts/Reader-Medium.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Black';
  src: url('../fonts/Reader-Black.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Regular';
  src: url('../fonts/Reader-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
/*gobal*/
body {
  background-color: transparent;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100vh;
  font-family: 'Reader Regular';
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
  color:#717272;
}
h2{
 	color: #717272;
 	margin-top : 0;
	margin-bottom : 0;
}
ul{
	margin-bottom: 0;
}
html{
	overflow-x: hidden;
	line-height: 1.5;
}
label {
	color: #717272;
	font-weight: 300;
	font-family: 'Reader Regular';
	font-size: 2rem;
}
input[type=checkbox]{
	margin: auto;
    margin-top: 9px;
}
input::placeholder {
	color: #717272 !important;
}
a{ color:#6e9cd0;}
a:hover {
  cursor: pointer;
}
option{
	font-size : 2rem;
}
.checkbox{
	margin: 0;
}
.text-left{
	text-align: left !important;
}
.d-flex{
	display: flex;
}
.mt-25{
	margin-top: 25px;
}
.mt-50{
	margin-top: 50px;
}
.mb-50{
	margin-bottom: 50px;
}
.m-auto{
	margin:auto !important;
}
.black-text {
	color: #000;
}
.blue-text {
	color: #6e9cd0;
	font-family: 'Reader Medium';
	text-align: center;
	font-weight : bold;
	font-size : 2.5rem;
    margin: 0 auto;
}
.p-0{
	padding : 0;
}
.lucent-title{
	padding-bottom:25px;
}
.container-fluid {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 100vw;
}
/*@media (min-width: 1500px){
	.container{ width: 1300px;	}	
}*/
@media (max-width: 991px){
	.pt-md-40{
		padding-top: 50px;
	}
}
@media (max-width: 991px) and (min-width: 769px){
	input[type=checkbox]{
	    margin-top: 2px;
	}
}
@media screen and (max-width: 576px){
	body,label {
		font-size: 1.4rem;
	}
	.blue-text {
	     font-size: 2rem;
	}
	input[type=checkbox]{
	    margin-top: 0px;
	}
}
/*end global*/
/* top section */
#top-section {
	background: url('/images/gsc/Background_1.jpg') no-repeat;
	background-size: cover;
	position: relative;
}
#bottom-section{
	background: url('/images/gsc/Background_2.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}
#top-section .row {
	margin: auto;
	position: relative;
}
.mobile-img{
	padding-top: 50px;
}
@media (max-width: 576px){
	#top-section {
		background: url('/images/gsc/Background_1_mol.jpg') no-repeat center;
		background-size: cover;
	}
	#bottom-section{
		background: url('/images/gsc/Background_2_mol.jpg') no-repeat center;
		background-size: cover;
	}
}
/* end top section */
/* header nav bar */
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-header,
.navbar-nav {
	float: unset;
	text-align: center;
  	margin: 0 auto !important;
    font-size: 2rem;
}
.navbar-nav>li {
    float: none;
    display: inline-flex;
	padding: 0 20px;
}
.navbar-brand {
	float: unset;
	margin: auto;
}
.navbar-inverse {
	background-color: inherit;
 	border: none;
}
.navbar-header {
	padding-bottom: 50px;
}
.navbar-header .navbar-brand .nav-logo {
	max-width: 250px;
}
.navbar-inverse .navbar-nav>.active>a>span,
.navbar-inverse .navbar-nav>li>a:hover>span {
	border-bottom: 1px solid #6e9cd0;
	color: #6e9cd0;
}
.navbar-inverse .navbar-nav>li>a>span {
	font-weight: 300;
	font-size: 2.5rem;
	color: #717272;
}
@media screen and (max-width: 576px){
	.navbar {
		margin-bottom : 0;
	}
	.navbar-header .navbar-brand .nav-logo {
		max-width: 200px;
	}
	.navbar-inverse .navbar-nav>li>a>span {
		font-size: 1.5rem;
	}
	.navbar-nav>li {
		padding: 0px;
	}
	.nav>li>a {
		padding: 10px 10px;
	}
}
/* end header nav bar */
/* floating button */
.floating-logo-btn {
  display: block;
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 9999;
}
.floating-logo-btn img {
  width: 100px;
}
@media screen and (max-width: 576px){
	.floating-logo-btn img {
	  width: 70px;
	}
}
/* end floating button */
/* video section */
#video-section .row {
	max-width: 1000px;
	margin: auto;
	position: relative;
	z-index: 10;
}
#video-section .section-title {
	text-align: center;
}
#video-section .normal-text {
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 2;
	text-align: center;
}
#video-section .video-container, #video-carousel {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px; height: 0; 
	margin: auto;
}
#video-section .video-container iframe,
#video-section .video-container object,
#video-section .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 577px){
	#video-section h4 br{
		display: none;
	}
}
@media screen and (max-width: 576px){
	#video-section .normal-text br{
		display: none;
	}
}
/* end video section */
/*technology && proven*/
.technology-section, 
.proven-result-section{
	padding : 50px 0 0;
	font-size: 1.5rem;
}
.technology-section h2,
.proven-result-section h2{
	padding-bottom: 25px;
	padding-top: 5px;
    border-top: 2px #6e9cd0 solid;
}
.technology-section p{
	font-size: 1.5rem;
	font-family: 'Reader Regular';
}
.technology-detail{
	padding-bottom: 25px;
}
.proven-result-section h4{
	font-size: 2rem;
}
@media screen and (min-width: 1200px){
	.proven-result-section h4{
		font-size: 2.5rem;
	}
	.technology-section h2,
	.proven-result-section h2{
		font-size: 2.8rem;
	}
	.blue-text{
		font-size: 2.8rem;
	}
}
@media screen and (max-width: 991px){

	.technology-image{
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 991px) and (min-width: 578px){
	.proven-result-section h4{
		font-size: 2.5rem;
	}
}
@media screen and (max-width: 576px){
	.proven-result-section{
		font-size: 1rem;
	}
	.proven-result-section{
		padding: 0px;
	}
	.proven-result-section h4{
		font-size: 1.5rem;
	}
	.technology-section p{
		font-size: 1rem;
	}
}
/*end technology && proven*/
/* slider section */
#product-sec{
	padding-top: 50px;
}
#product-sec h2{
	padding-bottom: 25px;
}
.slider-section .row {
	position: relative;
	z-index: 10;
}
.slider-section .carousel-content {
	margin:auto;
	text-align: center;
	width: 450px;
	margin-top: 50px;
}
.slider-section .carousel-content .carousel-title {
	font-weight : bold;
	font-size : 2rem;
	padding-bottom: 25px;
}
.slider-container{
	max-height: 1000px;
    padding-bottom: 25px;
}
.slider-section .carousel-product {
	text-align: center;
}
#product-carousel .owl-carousel .owl-stage{
	margin : 0 auto;
}
#product-carousel .owl-nav{
	position: absolute;
    width: 100%;
    bottom: 15%;
    padding:0 20%;
}
#product-carousel .owl-next{
	float:right;
	font-size: 4.8rem;
	color:#6e9cd0;
}
#product-carousel .owl-prev{
	font-size: 4.8rem;
	color:#6e9cd0;
}
#product-carousel .owl-carousel .owl-item img{
	width : 90%;
	margin:0 auto;
}
.carousel-text{
	font-size : 1.8rem;
}
.owl-carousel .owl-item img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
@media screen and (max-width: 991px){
	#product-carousel .owl-nav{
		padding:0 10%;	
	}
}
@media screen and (max-width: 576px){
	#product-carousel .owl-nav{
		padding: 0;
	}
	#product-carousel .owl-prev,
	#product-carousel .owl-next{
		font-size: 4rem;
	}
	#product-sec h2{
		font-size: 2rem;
	}
	.slider-section .carousel-content .carousel-title {
	    font-size : 1.5rem;
	}
	.slider-section .carousel-content{
		width: 320px;
	}
	.slider-section .carousel-product .carousel-product-img {
		width: 70%;
		margin :0 auto;
	}
	.carousel-text{
		font-size : 1.5rem;
		padding : 0 10px;
	}
}
@media screen and (max-width: 320px){
	.slider-section .carousel-content{
		width: 250px;
	}
}
/*end slider section*/
/*form section*/
#registration_form {
	position: relative;
	z-index: 10;
}
.panel {
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: 0px;
	border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading.panel-custom-css {
	border: none;
  	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding : 0;
}
.panel-body {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.panel-color-background {
	background-color: transparent;
}
.label-required:after {
	content: "*";
	display: inline;
	font-size: 2rem;
}
.form-control {
	background-color: transparent;
	border-color: #6e9cd0;
	border-radius: 0px;
}
.custom-submit-btn {
	color: #fff;
	background-color: #6e9cd0;
	border-color: #6e9cd0;
	border-radius: 0;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}
.custom-submit-btn.btn-block {
	width: 50%;
    margin: auto;
    font-size: 2.5rem;
    font-family: "Reader Medium";
}
.disclaimer-text {
	font-size: 1.5rem;
	margin-bottom : 5px;
}
.tnc-text label {
	font-size: 1.5rem;
}
.help-block.label.label-danger {
	display: inline-block;
	/*margin-top: 3px;*/
	color: #fff;
	font-size: 1.5rem;
	max-width: 100%;
    line-height: 1;
    padding: 0.3em 0.4em;
}
.form-section .panel-heading h2 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.5;
}
.form-section .panel-default>.panel-heading {
	background-color: transparent;
}
.form-group {
    margin-bottom: 15px;
}
.panel-body{
	padding: 50px 0;
}
.submit-section{
	padding: 10px 0 0;
}
.checkbox_form{
	position: relative;
}
.checkbox_form select{
	-webkit-appearance: none;
    appearance: none;
}
.checkbox_form:after{
	content: "\25bc";
    display: block;
    font-size: 1.2rem;
    line-height: 2;
    color: #6e9cd0;
    position: absolute;
    top: 60%;
    right: 10px;
}
.checkbox_form.has-error:after {
    top: 40%;
}
@media screen and (min-width: 577px){
	.form-section .panel-heading h2 br:nth-child(2){
		display: none;
	}
}
@media screen and (max-width: 1920px){
	#registration_form {
		max-width: 75%;
    	margin: 0 auto;
	}
}
@media screen and (max-width: 768px){
	#registration_form {
		max-width: 100%;
	}
}
@media screen and (max-width: 576px){
	.form-section .panel-heading h2,
	.form-section .panel-heading span{
		font-size: 1.7rem;
	} 
	.checkbox_form:after{ line-height: 1.5; }
	.custom-submit-btn.btn-block,
	.help-block.label.label-danger,
	.label-required:after { font-size: 1.2rem; }
	.disclaimer-text,
	.tnc-text label, 
	.tnc-text .label-required:after {
		font-size: 1rem;
	}
}
/* end form section */
/* footer */
.page-footer {
	background: #b2c6e5;
	padding: 40px 0; 
	color: #fff;
	font-size: 1.5rem;
}

@media screen and (max-width: 768px){
	.page-footer {
		padding: 25px 0;
	}
}
@media screen and (max-width: 576px){
	.page-footer {
		font-size : 1.2rem;
	}
}
.page-footer a {
	text-decoration: none;
	color: inherit;
	padding: 5px;
}
.page-footer a:hover {
	color: #171717;
}
.page-footer .footer-logo-img {
	width: 100%;
    max-width: 18px;
}
.footer-copyright {
	float: right;
	text-align: right;
}
.footer-links-subsection {
	float: left;
	text-align: left;
}
.footer-links-subsection ul {
	list-style-type: none;
	padding: 0;
}
.footer-link {
	margin: 0px 15px;
}
@media (max-width: 890px) {
	.footer-copyright, .footer-links-subsection {
		display: block;
	    text-align: center;
	    width: 100%;
	    padding-top: 15px;
	}
	.footer-links-subsection ul {
		display: block;
		padding: 0px;
	}
	.footer-link {
		margin: 10px 15px;
	}
}
@media (max-width: 320px){
	.footer-copyright, .footer-links-subsection {
		font-size: 1.1rem;
	}
}
/* end footer */
/* Thank You Page */
.bottom-link {
    display: flex;
    justify-content: center;
}
.thank-you-bottom-logo{
	width: 40px;
}
.full-height {
  background-color: #CBE2F2;
  position: relative;
  height: 100%;
  min-height: 100vh;
}
.thank-you-logo {
  width: 160px;
  margin-top: 100px;
}
.dear-name {
  color: #6e9cd0;
  font-weight: bold;
  font-family: 'Reader Medium';
}
.btn-share {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border: solid 1px #6e9cd0;
  border-radius: 50%;
  padding: 10px;
  background-color: #6e9cd0;
  color: #fff;
}
.btn-share:focus,
.btn-share:hover {
  background-color: #fff;
  color: #6e9cd0;
}
.mobile-banner{
	padding : 0 0 10px;
	width : 100%;
}
.agree-text{
	display: inline-block;
}
.modal-body{
	word-break: break-word;
}
.modal-body, .modal-body p {
    font-size: 1.5rem !important;
}
.mobile-reneura-img,.mobile-proven-img{
	padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
}
.mobile-proven-img1{
	padding : 0;
}
.proven-result-section .row{
	margin-left : 0;
	margin-right : 0;
}
/*end*/
#end {
    padding: 25px 15px 25px;
    margin: 0 -15px;
}
#end p:not(.lead) {
    margin: 0;
}
.lead {
    margin-bottom: 0;
    font-family: "Reader Medium";
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
}
@media (min-width: 768px){
	.lead {
    	font-size: 2.5rem;
	}
}